<title>My application deployed automatically</title>
  <h1>Hello, World! Calculate If A Triangle Can Be Formed. If So Calculate If It's Circumfrence
   Is Larger Than All Of The Given Circumfrences ArrayList </h1>
   <h1>Input Order: SIDE_SIDE_SIDE_ARRAYLIST<h1>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
